%h3.page-title 项目服务
%p.light 项目服务用于集成其他应用
%hr

%ul.bordered-list
  - @services.sort_by(&:title).each do |service|
    %li
      %h4
        = link_to edit_project_service_path(@project, service.to_param) do
          = service.title
        .pull-right
          = boolean_to_icon service.activated?
      %p= service.description
