- page_title "Import in progress"
.save-project-loader
  .center
    %h2
      %i.fa.fa-spinner.fa-spin
      正在导入。
    %p.monospace git clone --bare #{hidden_pass_url(@project.import_url)}
    %p 请稍候，正在导入仓库。将自动刷新。
    :javascript
      new ProjectImport();
