- if @merge_request.can_be_merged_by?(current_user)
  %h4
    此合并请求包含有必须解决的合并冲突。
    必须手工使用
    %strong
      = link_to "命令行", "#modal_merge_info", class: "how_to_merge_link vlink", title: "如何合并", "data-toggle" => "modal"
    解决
- else
  %strong 此合并请求包含有必须解决的合并冲突。
  只有拥有此仓库写权限的才能合并合并请求。
