- if @merge_request.can_be_merged_by?(current_user)
  %h4
    此合并请求被标记为正在处理中，无法被接受。

  %p
    %button.btn.disabled{:type => 'button'}
      %i.fa.fa-warning
      接受合并请求
    &nbsp;
    当合并请求准备好时，请从标题中删除 "WIP" 前缀，以表示该合并请求可以被接受。
- else
  %strong 此合并请求被标记为正在处理中。
  只有拥有此仓库写权限的才能合并合并请求。
