%h3.page-title
  问题

%p.light
  仅
  %strong #{@group.name}
  群组的问题显示在此处。
  - if current_user
    请到#{link_to '仪表盘', issues_dashboard_path}页面访问所有问题。
%hr

.append-bottom-20
  = render 'shared/issuable_filter'
= render 'shared/issues'
