- page_title "合并请求"
%h3.page-title
  合并请求

%p.light
  仅
  %strong #{@group.name}
  群组的合并请求显示在此处。
  - if current_user
    请到#{link_to '仪表盘', merge_requests_dashboard_path}页面访问所有合并请求。
%hr
.append-bottom-20
  = render 'shared/issuable_filter'
= render 'shared/merge_requests'
