.loading-graph
  .center
    %h3.page-title
      %i.icon-spinner.icon-spin
      正在构建版本库图表。
    %p 请稍候，成功后会自动刷新页面。

.stat-graph
  .header.clearfix
    .pull-right
      %select
        %option{:value => "commits"} 提交
        %option{:value => "additions"} 增加
        %option{:value => "deletions"} 删除
    %h3#date_header.page-title
    %p.light
      提交到 #{@project.default_branch}，排除合并提交。限制为 6,000 次提交。
    %input#brush_change{:type => "hidden"}
  .graphs
    #contributors-master
    #contributors.clearfix
      %ol.contributors-list.clearfix

:javascript
  $(".stat-graph").hide();

  $.ajax({
    type: "GET",
    url: location.href,
    complete: function() {
      $(".stat-graph").fadeIn();
      $(".loading-graph").hide();
    },
    dataType: "script"
  });
