- page_title "热门项目"
.explore-title
  %h3
    浏览 GitLab
  %p.lead
    探索项目和群组。分享自己的项目给他人
%hr
.explore-trending-block
  %p.lead
    %i.fa.fa-comments-o
    查看上个月最多讨论的项目
  %hr
  .public-projects
    %ul.bordered-list
      = render @trending_projects

  .center.append-bottom-20
    = link_to '显示所有项目', explore_projects_path, class: 'btn btn-primary'
