%div#github_import_modal.modal.hide
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3 GitHub OAuth 导入
      .modal-body
        必须先设置 GitHub 集成。
        = link_to '如何设置 GitHub 集成', 'https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/integration/github.md'


:javascript
  $(function(){
    var import_modal = $('#github_import_modal').modal({modal: true, show:false});
    $('.how_to_import_link').bind("click", function(e){
      e.preventDefault();
      import_modal.show();
    });
    $('.modal-header .close').bind("click", function(){
      import_modal.hide();
    })
  })
