.alert.alert-danger.alert-block
  %h4
    %i.icon-code-fork
    派生错误！
  %p
    视图派生
    = link_to_project @project
    但因为以下原因派生失败：


  - if @forked_project && @forked_project.errors.any?
    %p
      &ndash;
      = @forked_project.errors.full_messages.first

  %p
    = link_to fork_project_path(@project), title: "派生", class: "btn", method: "POST" do
      %i.icon-code-fork
      重试派生
