%h4
  无法合并
%p
  此合并请求无法被接受是因为分支
  - unless @merge_request.source_branch_exists?
    %span.label.label-inverse= @merge_request.source_branch
    不在
    %span.label.label-info= @merge_request.source_project_path
    中
  - else
    %span.label.label-inverse= @merge_request.target_branch
    不在
    %span.label.label-info= @merge_request.target_project_path
    中
  %br
  %strong 请关闭此合并请求或切换分支到已存在的分支
