- page_title "里程碑"
%h3.page-title
  里程碑
  %span.pull-right #{@dashboard_milestones.count} 里程碑

%p.light
  所有可以访问的项目的所有里程碑列表。

%hr

= render 'shared/milestones_filter'
.milestones
  .panel.panel-default
    %ul.well-list
      - if @dashboard_milestones.blank?
        %li
          .nothing-here-block 没有里程碑显示
      - else
        - @dashboard_milestones.each do |milestone|
          = render 'milestone', milestone: milestone
  = paginate @dashboard_milestones, theme: "gitlab"
